{% extends './base_generic.html'%}

{% block content%}
<br>
<div id="back" class="searchBoxButton" style="margin-right: 2%;" onclick="location.href = '/TestCatalog/search';">לחזרה לחיפוש הבדיקות</div>
<br>
<br>
<!-- Classic tabs -->
<div class="classic-tabs border rounded px-4 pt-1">

  <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show" id="" data-toggle="tab" href="#testInfo" role="tab" aria-controls="testInfo" aria-selected="true">פרטי הבדיקה</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sampling-tab" data-toggle="tab" href="#sampling" role="tab" aria-controls="sampling" aria-selected="false">דיגום ושינוע הבדיקה</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="clinic-tab" data-toggle="tab" href="#clinic" role="tab" aria-controls="clinic" aria-selected="false">קליני</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" id="method-tab" data-toggle="tab" href="#method" role="tab" aria-controls="method" aria-selected="false">שיטת הביצוע</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="additional" aria-selected="false">מידע נוסף</a>
    </li>
  </ul>
  <hr>
  <div class="tab-content" id="advancedTabContent">
    <div class="tab-pane fade show active" id="testInfo" role="tabpanel" aria-labelledby="testInfo-tab">
      <h5>קוד הבדיקה</h5>
      <p>{{test.testcode}}</p>
      <h5>שם הבדיקה</h5>
      <p class="">{{test.name}}</p>
      {%if test.addname%}
      <h5>שמות נוספים</h5>
      <p class="">{{test.addnames}}</p>
      {%endif%}
      {%if test.paneldetails%}
      <h5>פרטי הפאנל</h5>
      <p class="">{{test.paneldetails}}</p>
      {%endif%}
      {%if test.posttests%}
      <h5>בדיקות אוחרות</h5>
      <p class="">{{test.posttests}}</p>
      {%endif%}

     
    </div>

    <div class="tab-pane fade" id="sampling" role="tabpanel" aria-labelledby="sampling-tab">
           {%if test.preparment%}
            <h5>הכנה</h5>
            <p>{{test.preparment}}</p>
            {%endif%}
            {%if test.kind%}
            <h5>סוג</h5>
            <p class="">{{test.kind}}</p>
            {%endif%}
            {%if test.limitations%}
            <h5> הגבלות</h5>
            <p class="">{{test.limitations}}</p>
            {%endif%}
            {%if test.vessel%}
            <h5> כלי</h5>
            <p class="">{{test.vessel}}</p>
            {%endif%}
            {%if test.color%}
            <h5> צבע הפקק</h5>
            <p class="">{{test.color}}</p>
            {%endif%} 
            {%if test.volume%}
            <h5> נפח</h5>
            <p class="">{{test.volume}}</p>
            {%endif%}
            {%if test.bloodamount%}
            <h5> כמות הדם</h5>
            <p class="">{{test.bloodamount}}</p>
            {%endif%}
            {%if test.pretransportconditions%}
            <h5> צבע הפקק</h5>
            <p class="">{{test.pretransportconditions}}</p>
            {%endif%} 
            {%if test.transportconditions%}
            <h5> צבע הפקק</h5>
            <p class="">{{test.transportconditions}}</p>
            {%endif%}
            {%if test.maxtime%}
            <h5>זמן מקסימלי</h5>
            <p class="">{{test.maxtime}}</p>
            {%endif%}
             {%if test.addressee%}
            <h5>נמען</h5>
            <p class="">{{test.addressee}}</p>
            {%endif%}   
    </div>

    <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="clinic-tab">
       {%if test.testpurpose%}
      <h5> מטרת הבדיקה</h5>
      <p class="">{{test.testpurpose}}</p>
      {%endif%}
      {%if test.clinicalinfo%}
      <h5> מידע קליני</h5>
      <p class="">{{test.clinicalinfo}}</p>
      {%endif%}
    </div>

     <div class="tab-pane fade" id="method" role="tabpanel" aria-labelledby="method-tab">
            {%if test.method%}
            <h5> שיטה</h5>
            <p class="">{{test.method}}</p>
            {%endif%}
            {%if test.processingtime%}
            <h5>זמן </h5>
            <p class="">{{test.processingtime}}</p>
            {%endif%}
             {%if test.specialdays%}
            <h5>ימים מיוחדים</h5>
            <p class="">{{test.specialdays}}</p>
            {%endif%}   
    </div>

    <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
     {%if test.outtermonitoring%}
      <h5>  ביקורת חיצונית</h5>
      <p class="">{{test.outtermonitoring}}</p>
      {%endif%}
      {%if test.pricecode%}
      <h5> קוד מחיר</h5>
      <p class="">{{test.pricecode}}</p>
      {%endif%}
      {%if test.comments%}
      <h5>  הערות</h5>
      <p class="">{{test.comments}}</p>
      {%endif%}
    </div>
  </div>

</div>

<!-- Classic tabs -->
{% endblock%}