{% extends './base_generic.html'%}

{% block content%}
<!-- Classic tabs -->
<div class="classic-tabs border rounded px-4 pt-1">

  <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show" id="" data-toggle="tab" href="#testInfo" role="tab" aria-controls="testInfo" aria-selected="true">פרטי הבדיקה</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sampling-tab" data-toggle="tab" href="#sampling" role="tab" aria-controls="sampling" aria-selected="false">דיגום ושינוע הבדיקה</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="clinic-tab" data-toggle="tab" href="#clinic" role="tab" aria-controls="clinic" aria-selected="false">קליני</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" id="method-tab" data-toggle="tab" href="#method" role="tab" aria-controls="method" aria-selected="false">שיטת הביצוע</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="additional" aria-selected="false">מידע נוסף</a>
    </li>
  </ul>
  <hr>
  <div class="tab-content" id="advancedTabContent">
    <div class="tab-pane fade show active" id="testInfo" role="tabpanel" aria-labelledby="testInfo-tab">
      <h5>Product testInfo</h5>
      <p class="small text-muted text-uppercase mb-2">Shirts</p>
      <ul class="rating">
        <li>
          <i class="fas fa-star fa-sm text-primary"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-primary"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-primary"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-primary"></i>
        </li>
        <li>
          <i class="far fa-star fa-sm text-primary"></i>
        </li>
      </ul>
      <h6>12.99 $</h6>
      <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
        error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
        officia quis dolore quos sapiente tempore alias.</p>
    </div>
    <div class="tab-pane fade" id="sampling" role="tabpanel" aria-labelledby="sampling-tab">
      <h5><span>1</span> review for <span>Fantasy T-shirt</span></h5>
      <div class="media mt-3 mb-4">
        <img class="d-flex mr-3 z-depth-1" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="62" alt="Generic placeholder image">
        <div class="media-body">
          <div class="d-sm-flex justify-content-between">
            <p class="mt-1 mb-2">
              <strong>Marthasteward </strong>
              <span>– </span><span>January 28, 2020</span>
            </p>
            <ul class="rating mb-sm-0">
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="far fa-star fa-sm text-primary"></i>
              </li>
            </ul>
          </div>
          <p class="mb-0">Nice one, love it!</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="clinic-tab">
      <h5><span>1</span> review for <span>Fantasy T-shirt</span></h5>
      <div class="media mt-3 mb-4">
        <img class="d-flex mr-3 z-depth-1" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="62" alt="Generic placeholder image">
        <div class="media-body">
          <div class="d-sm-flex justify-content-between">
            <p class="mt-1 mb-2">
              <strong>Marthasteward </strong>
              <span>– </span><span>January 28, 2020</span>
            </p>
            <ul class="rating mb-sm-0">
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="far fa-star fa-sm text-primary"></i>
              </li>
            </ul>
          </div>
          <p class="mb-0">Nice one, love it!</p>
        </div>
      </div>
    </div>
     <div class="tab-pane fade" id="method" role="tabpanel" aria-labelledby="method-tab">
      <h5><span>1</span> review for <span>Fantasy T-shirt</span></h5>
      <div class="media mt-3 mb-4">
        <img class="d-flex mr-3 z-depth-1" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="62" alt="Generic placeholder image">
        <div class="media-body">
          <div class="d-sm-flex justify-content-between">
            <p class="mt-1 mb-2">
              <strong>Marthasteward </strong>
              <span>– </span><span>January 28, 2020</span>
            </p>
            <ul class="rating mb-sm-0">
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="far fa-star fa-sm text-primary"></i>
              </li>
            </ul>
          </div>
          <p class="mb-0">Nice one, love it!</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
      <h5><span>1</span> review for <span>Fantasy T-shirt</span></h5>
      <div class="media mt-3 mb-4">
        <img class="d-flex mr-3 z-depth-1" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="62" alt="Generic placeholder image">
        <div class="media-body">
          <div class="d-sm-flex justify-content-between">
            <p class="mt-1 mb-2">
              <strong>Marthasteward </strong>
              <span>– </span><span>January 28, 2020</span>
            </p>
            <ul class="rating mb-sm-0">
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-primary"></i>
              </li>
              <li>
                <i class="far fa-star fa-sm text-primary"></i>
              </li>
            </ul>
          </div>
          <p class="mb-0">Nice one, love it!</p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Classic tabs -->
{% endblock%}