{% extends './base_generic.html'%}

{% block content%}
<br>

<div id="back" class="searchBoxButton" style="margin-right: 2%;" onclick="location.href = '/TestCatalog/search';">לחזרה לחיפוש הבדיקות</div>



<div class="col-12 col-md-8 col-lg-8">
            
                        
    <div class="carouselWrap">
                    </div>
    <!--News Items-->
    <div id="childrenWrap">
        <h2>{{test.name}}</h2>
                    </div>
    <!--end-->
        <div class="item newsItem">
            <div class="row">
                <!-- ITEM IMAGE -->
                                        <div class="col-10 col-sm-10 col-lg-11 col-md-11 itemTitle">
                    <h4>פרטי הבדיקה</h4>
                </div>
                <!-- EXPAND -->
                <div class="col-1 col-md-1 col-md-1 col-lg-1 itemToggle itemExpand" id="147463">
                    <button type="button" class="fas fa-angle-up"></button>
                </div>
            </div>
        </div>

                    <!-- EXPANDED -->
        <div class="row expendedItem" style="display: block;" id="expandWrap147463">
            <div class="col-12 col-md-10 col-lg-10">
                <h6 class="expandContent">
                    </h6>
                    {%if test.lab%}
                    <h5>המעבדה המבצעת</h5>
                        <a class="button" onclick="window.top.location.href = '{{test.labLink}}' ">{{test.lab}}</a>
                        <p>לחץ מעלה לצפייה בעמוד המעבדה</p>
                        {%endif%}
                       
                        <h5>שם הבדיקה</h5>
                        <p class="">{{test.name}}</p>
                        {%if test.addnames%}
                        <h5>שמות נוספים לבדיקה</h5>
                        <p class="">{{test.addnames}}</p>
                        {%endif%}
                        
                        

                        {%if panel%}
                        <h5>פירוט הפאנל</h5>
                        {% for p in panel %}
                        <p class="">{{p.name}}</p>
                        {%endfor%}
                        {%endif%}
                        


                        {%if test.posttests%}
                        <h5>פירוט בדיקות המשך</h5>
                        <p class="">{{test.posttests}}</p>
                        {%endif%}
                        {%if test.pricecode%}
                                    <h5> קוד מחיר משרד הבריאות</h5>
                                    <p class="">{{test.pricecode}}</p>
                        {%endif%}		            
                </div>
            </div>
   
<!--sec 2-->

        <div class="item newsItem">
            
                <div class="row">
                    <!-- ITEM IMAGE -->
                                            <div class="col-10 col-sm-10 col-lg-11 col-md-11 itemTitle">
                        <h4> דיגום ושינוע הבדיקה</h4>
                    </div>
                    <!-- EXPAND -->
                    <div class="col-1 col-md-1 col-md-1 col-lg-1 itemToggle itemExpand" id="147462">
                        <button type="button" class="fas fa-angle-down"></button>
                    </div>
                </div>
            </div>
    
                        <!-- EXPANDED -->
            <div class="row expendedItem" style="display: none;" id="expandWrap147462">
                <div class="col-12 col-md-10 col-lg-10">
                    <h6 class="expandContent">
                        </h6>
                        {%if test.preparment%}
                        <h5>הכנת החולה לפני הדיגום</h5>
                        <p>{{test.preparment}}</p>
                        {%endif%}
                        {%if test.kind%}
                        <h5>סוג הדגימה</h5>
                        <p class="">{{test.kind}}</p>
                        {%endif%}
                        {%if test.limitations%}
                        <h5> מגבלות הבדיקה</h5>
                        <p class="">{{test.limitations}}</p>
                        {%endif%}
                        {%if test.vessel%}
                        <h5> כלי קיבול לדגימה</h5>
                        <p class="">{{test.vessel}}</p>
                        {%endif%}
                        {%if test.color%}
                        <h5>צבע הפקק - להזמנות בתוך איכילוב בלבד</h5>
                        <p class="">{{test.color}}</p>
                        {%endif%} 
                        {%if test.volume%}
                        <h5> נפח דגימה מינימאלי נדרש</h5>
                        <p class="">{{test.volume}}</p>
                        {%endif%}
                        {%if test.bloodamount%}
                        <h5> נפח דם נדרש למקבצי בדיקות שונים</h5>
                        <p class="">{{test.bloodamount}}</p>
                        {%endif%}
                        {%if test.pretransportconditions%}
                        <h5>תנאי לקיחה ושימור טרם שינוע</h5>
                        <p class="">{{test.pretransportconditions}}</p>
                        {%endif%} 
                        {%if test.transportconditions%}
                        <h5>תנאי שינוע</h5>
                        <p class="">{{test.transportconditions}}</p>
                        {%endif%}
                        {%if test.maxtime%}
                        <h5>זמן מירבי מדיגום עד הגעה למעבדה</h5>
                        <p class="">{{test.maxtime}}</p>
                        {%endif%}
                         {%if test.addressee%}
                        <h5>מען למשלוח בדיקות</h5>
                        <p class="">{{test.addressee}}</p>
                        {%endif%}              
                    </div>
                </div>

                <div class="item newsItem">
                    <div class="row">
                        <!-- ITEM IMAGE -->
                                                <div class="col-10 col-sm-10 col-lg-11 col-md-11 itemTitle">
                            <h4>קליני</h4>
                        </div>
                        <!-- EXPAND -->
                        <div class="col-1 col-md-1 col-md-1 col-lg-1 itemToggle itemExpand" id="147464">
                            <button type="button" class="fas fa-angle-down"></button>
                        </div>
                    </div>
                </div>
        
                            <!-- EXPANDED -->
                <div class="row expendedItem" style="display: none;" id="expandWrap147464">
                    <div class="col-12 col-md-10 col-lg-10">
                        <h6 class="expandContent">
                            </h6>
                            {%if test.testpurpose%}
                            <h5> מטרת הבדיקה</h5>
                            <p class="">{{test.testpurpose}}</p>
                            {%endif%}
                            {%if test.clinicalinfo%}
                            <h5> מידע קליני</h5>
                            <p class="">{{test.clinicalinfo}}</p>
                            {%endif%}	            
                        </div>
                    </div>

                    <div class="item newsItem">
                        <div class="row">
                            <!-- ITEM IMAGE -->
                                                    <div class="col-10 col-sm-10 col-lg-11 col-md-11 itemTitle">
                                <h4>שיטת הביצוע</h4>
                            </div>
                            <!-- EXPAND -->
                            <div class="col-1 col-md-1 col-md-1 col-lg-1 itemToggle itemExpand" id="147465">
                                <button type="button" class="fas fa-angle-down"></button>
                            </div>
                        </div>
                    </div>
            
                                <!-- EXPANDED -->
                    <div class="row expendedItem" style="display: none;" id="expandWrap147465">
                        <div class="col-12 col-md-10 col-lg-10">
                            <h6 class="expandContent">
                                </h6>
                                {%if test.method%}
                                <h5> שיטת ביצוע הבדיקה</h5>
                                <p class="">{{test.method}}</p>
                                {%endif%}
                                {%if test.processingtime%}
                                <h5>משך הזמן מקבלת הדגימה ועד הפצת תשובה  </h5>
                                <p class="">{{test.processingtime}}</p>
                                {%endif%}
                                 {%if test.specialdays%}
                                <h5>האם הבדיקה מבוצעת גם בערבים וסופ"ש? </h5>
                                <p class="">{{test.specialdays}}</p>
                                {%endif%}         
                            </div>
                        </div>

                        <div class="item newsItem">
                            <div class="row">
                                <!-- ITEM IMAGE -->
                                                        <div class="col-10 col-sm-10 col-lg-11 col-md-11 itemTitle">
                                    <h4>מידע נוסף</h4>
                                </div>
                                <!-- EXPAND -->
                                <div class="col-1 col-md-1 col-md-1 col-lg-1 itemToggle itemExpand" id="147466">
                                    <button type="button" class="fas fa-angle-down"></button>
                                </div>
                            </div>
                        </div>
                
                                    <!-- EXPANDED -->
                        <div class="row expendedItem" style="display: none;" id="expandWrap147466">
                            <div class="col-12 col-md-10 col-lg-10">
                                <h6 class="expandContent">
                                    </h6>
                                    {%if test.outtermonitoring%}
                                    <h5>  בקרת איכות חיצונית</h5>
                                    <p class="">{{test.outtermonitoring}}</p>
                                    {%endif%}
                                    {%if test.testcode%}
                                    <h5>קוד ביצוע הבדיקה</h5>
                                    <p>{{test.testcode}}</p>
                                    {%endif%}
                                    {%if test.comments%}
                                    <h5>  הערות</h5>
                                    <p class="">{{test.comments}}</p>
                                    {%endif%}     
                                </div>
                            </div>
         
</div>
</div>
</div>


{% endblock%}