/******************** Forms Common - from Common.css ********************/
/* header */
.ValidationGroup .Header { clear: both; padding: .5em 0; zoom: 1; }
.ValidationGroup .Header h3 { display: inline; }
.ValidationGroup .Header em { color: #CF2619; }

/* fields - container */
.ValidationGroup .Fields { background: #EEF3F8 url(Images/FormsBgMedium.gif) repeat-x 0 bottom; border-top: solid 1px #e0e0e0; border-bottom: solid 2px #e0e0e0; padding: .5em 0 .7em; zoom: 1; }
.ValidationGroup .FieldsSmall { background: #EEF3F8 url(Images/FormsBgMedium.gif) repeat-x 0 top; }
.ValidationGroup .FieldsLarge { background: #EEF3F8 url(Images/FormsBgLarge.gif) repeat-x 0 bottom; }
.ValidationGroup .Fields div { clear: both; padding: .5em 0; width: 100%; }
.ValidationGroup .Fields div:after { clear: both; content: ' '; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; width: 0; }
* html .ValidationGroup .Fields div { height: 1%; }
.ValidationGroup .Fields br { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

/* fields - labels */
.ValidationGroup .Fields em { color: #CF2619; display: block; float: right; font-size: 123.1%; text-align: left; width: 16px; }
.ValidationGroup label { display: block; float: right; padding: 2px;  }
.ValidationGroup label.Short {width:80px;}
.ValidationGroup label.Tiny {display:none;}
.ValidationGroup .RadioLabel {    margin: 0 4px 0 15px; white-space: nowrap; width: auto;     font-size: 24px; font-weight: normal; }
#mls .ValidationGroup .RadioLabel {overflow:hidden;}
.RadioLabel2 {padding-right:116px !important;}
/* fields - fields */
.ValidationGroup input, .ValidationGroup select, .ValidationGroup textarea, .ValidationGroup .ReadOnly { float: right; }
.ValidationGroup select { border: solid 1px #527AAF; padding: 2px; }
.ValidationGroup .File { background: #fff; padding: 2px 0; border: solid 1px #527AAF; width: 250px; }
.ValidationGroup .File:active { background: #ffffe0; }
.ValidationGroup input.Radio, .ValidationGroup input.Checkbox { position: initial !important; display: none; }
.ValidationGroup .CheckBox { margin-right: -4px; }
body:nth-of-type(1) .ValidationGroup .File { padding: 0; width: 251px; *width:248px;}
body:nth-of-type(1) .ValidationGroup .Radio { margin: .4em .2em -.4em; }
body:nth-of-type(1) .ValidationGroup .CheckBox { margin: .32em 0 -.32em .25em; }

.ValidationGroup .Normal {   height: 55.2px; background-color: #ffffff; border: solid 1px #525252; border-radius: 2px;     font-size: 22px; padding:5px;}
input.err, input.error, textarea.err, textarea.error, select.err, select.error{ border: solid 1px #525252 !important; }
.ValidationGroup .Long { width: 244px; }
.ValidationGroup select.Long { width: 250px; }
.ValidationGroup .email, .ValidationGroup .Url { direction: ltr; text-align: left; }
.ValidationGroup div.LBD_CaptchaDiv { padding: .5em 100px 0 0; }
.ValidationGroup .LBD_CaptchaDiv .LBD_CaptchaImage { border: solid 1px #888; float: right; padding: 0; }
.ValidationGroup .LBD_CaptchaDiv img { display: block; }
.ValidationGroup .LBD_CaptchaDiv .LBD_CaptchaIcons { clear: none; float: right; height: 50px; padding: 0; width: 24px; }
.ValidationGroup span.Text { background: #fff; display: block; float: right; padding: 2px; }

/* ac custom */
.ac_city { direction: rtl; min-width: 144px; text-align: right; }
.ac_email { min-width: 16em; }
* html .ac_email { width: 16em !important; }

.ac_results { border-color: #888; }
.ac_results ul li { font-family: inherit; }
.ac_results strong { color: #3385cf; font-weight: normal; }
.ac_odd { background-color: #fff; }
.ac_over { background-color: #0A246A; }


/* date range fields */
.ValidationGroup .Dates label { width: 44px; }
.ValidationGroup .Dates label.DateLabel { width: 18px; padding: 2px 15px 2px 4px; text-align: left; }
.ValidationGroup .Dates input { width: 100px; }
.ValidationGroup .Dates var { width: 0; }
.ValidationGroup .Dates var label { max-width: 300px; white-space: nowrap; }

/* Abc  fields */
.ValidationGroup .Abc ul { display: block; float: right; height: 3em; margin: 0; padding: 0; position: relative; width: 18.3em; }
.ValidationGroup .Abc li { display: block; float: right; font-weight: bold; height: 1.231em; line-height: 1.231em; overflow: hidden; padding: 3px 5px; }
.ValidationGroup .Abc li.First { margin-left: 10px; margin-bottom: 1.5em; }
.ValidationGroup .Abc li:hover { border: solid 1px #3385cf; padding: 2px 4px; }
.ValidationGroup .Abc ul label { color: #18459d; float: none; padding: 0; width: auto; }
.ValidationGroup .Abc li.Selected { background: #fff; border: solid 1px #527AAF; padding: 2px 4px; }
.ValidationGroup .Abc li.Selected label { color: #444; }
.ValidationGroup .Abc input { position: absolute; visibility: hidden; }

/* Buttons */
* html .ValidationGroup .Buttons { height: 1%; } 
.ValidationGroup .Buttons input, .ValidationGroup .Buttons button {      float: left; height: 44px; border-radius: 3px; background-color: #85a924; border: solid 2px #85a924; font-family: almonidl,Arial,Helvetica,sans-serif; font-size: 24px; color: #525252; line-height: 0;  }
/*.ValidationGroup .Buttons .Wait, .Wait { background: url(../Images/Wait.gif) no-repeat center center; cursor: progress; }
.ValidationGroup .Buttons .Wait:hover { background-position: center center; }*/

/* Buttons */
.TasmcButtonOk { background: url(Images/BtnApprove.gif); width: 55px; }
.TasmcButtonSend { margin-top: 43px;  width: 109px;  }
.TasmcButtonSend:hover{text-decoration:underline;}
.TasmcButtonShow { background: url(Images/BtnShow.gif); width: 55px; }
.TasmcButtonCancel { background: url(Images/BtnCancel.gif); width: 55px; }
.TasmcButtonJoin { background: url(Images/BtnJoin.gif); width: 75px; }
.TasmcButtonSign { background: url(Images/BtnSign.gif); width: 55px; }
.TasmcButtonSignEvent { background: url(Images/BtnSignEvent.gif); width: 98px; }
.TasmcButtonClear { background: url(Images/BtnClear.gif); width: 55px; }
.TasmcButtonSearch { background: url(Images/BtnSearch.gif); width: 98px; }
/* Questionnaire Forms */
.ValidationGroup .Questionnaire { display: block; float: right; margin: 0;  background: rgba(166, 206, 57, 0.05);    padding: 33px 15px 0 15px; }
.ValidationGroup .Questionnaire li {      min-height: 136px;  display: block; float: right; list-style: none; }
.ValidationGroup .Questionnaire code {   float: right; line-height: 32px; text-align: center; border-radius: 20px; width: 40px; height: 40px; font-family: almonidl,Arial,Helvetica,sans-serif; font-size: 24px; font-weight: bold; color: #ffffff; background-color: #85a924;}
.ValidationGroup .Questionnaire div:not(.wrapperContainer) { display: inline; float: right; }
.ValidationGroup .Questionnaire div:after { clear: both; content: ' '; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; width: 0; }
.ValidationGroup .Questionnaire p { width: 480px; margin: 0 0 1em; padding: 0 0 0 20px; }
.ValidationGroup .Questionnaire .TopLabel { clear: both; float: none; font-weight: bold; font-size: 24px; }
.ValidationGroup .Questionnaire br { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
/******************** end Forms Common ********************/


/******************** Forms Common - from BeWell.css ********************/
/* header */
.ValidationGroup .Header em{color:#CF1976;}
/* fields - container */
.ValidationGroup .Fields { background: #f0f0f0; border-top:solid 1px #85a924; }
/* fields - labels */
.ValidationGroup .Fields em{color:#CF1976;}
/* fields - fields */
.ac_results strong { color: #EA1493; }
/* fields - errors */
.ValidationGroup var { float:right; clear:right;}
/* Buttons */
.TasmcButtonOk { background: url(/Style%20Library/Tasmc/Calculators/Images/BtnApprove.gif); width: 55px; }
.TasmcButtonCancel { background: url(/Style%20Library/Tasmc/Calculators/Images/BtnCancel.gif); width: 55px; }
.TasmcButtonJoin { background: url(/Style%20Library/Tasmc/Calculators/Images/BtnJoin.gif); width: 75px; }
.TasmcButtonSign { background: url(/Style%20Library/Tasmc/Calculators/Images/BtnSign.gif); width: 75px; }
.TasmcButtonClear { background: url(/Style%20Library/Tasmc/Calculators/Images/BtnClear.gif); width: 55px; }
.TasmcButtonSearch { background: url(/Style%20Library/Tasmc/Calculators/Images/BtnShow.gif); width: 55px; }

/* Questionnaire Forms */


/* Health Questionnaire */
#Hq var{ width:200px; }
#Hq var label.error{max-width:200px;}

/* Calc Elderly Nutrition */
#TasmcCalcElderlyNutritionForm var{ width:200px; }
#TasmcCalcElderlyNutritionForm var label.error{max-width:200px;}
/********* end Concrete Forms *********/

.TasmcHealthQuestionnaireResultGroup { margin: 0 0 30px 0; padding: 0; }
.TasmcHealthQuestionnaireResultTitle { font-weight: bold; color: #000000; font-size: 100%; }
/* End Health Questionnaire */

/* Calcs */
.TasmcQuestionnaireResults { }
.TasmcQuestionnaireResults h3 {    color: #85a52e; font-weight: bold; padding: 0; margin: 0; font-size: 24px; }
.TasmcQuestionnaireResults > p ,.TasmcQuestionnaireResults > div {        display: block; float: right;  background: rgba(166, 206, 57, 0.05); padding: 17px 24px;  margin: 10px 0 25px 0;  width: 100%; }
.TasmcQuestionnaireResults p a { text-decoration: underline; color: #940148; }
.TasmcQuestionnaireResults p span { font-weight: bold;  display: inline-block; margin: 0 0 4px 0; }
.HealthForm .TasmcQuestionnaireResults div span.healthResultsMessage { padding-bottom: 10px; font-weight: bold; display: inline-block; border-bottom: 1.5px solid; margin-bottom: 23px; width: 100%; }
.HealthForm .TasmcQuestionnaireResults p span{font-weight:normal;}
.HealthForm .TasmcQuestionnaireResults p { margin-bottom: 14px; }
/* End Calcs */
/******************** End Forms ********************/
/* radio */
.radio input[checked='checked'] + a, .checkbox input[checked='checked'] + a, .toggle input[checked='checked'] + a { border-color: rgba(0,0,0,8); }
.radio a { -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; border-radius: 50% !important; }
.radio a, .checkbox a { position: absolute; top: 5px; left: 0; display: block; width: 19px; height: 19px; outline: none;  border-style: solid;  background: #ffffff; }
.radio input + a:after { background-color: rgba(0,0,0,8); }
.radio input + a:after { content: ''; top: 5px; left: 5px; width: 5px; height: 5px; border-radius: 50%; }
.radio input + a:after, .checkbox input + a:after { position: absolute; opacity: 0; transition: opacity 0.1s; -o-transition: opacity 0.1s; -ms-transition: opacity 0.1s; -moz-transition: opacity 0.1s; -webkit-transition: opacity 0.1s; }
/*.radio input:checked + a:after, .checkbox input:checked + a:after,*/
 .radio input[checked='checked'] + a:after { opacity: 1; }


.radio a,.radio input:checked + a {    height: 29px; width: 29px; border-color: #525252; border-width: 1px;}
.radio input + a:after{    background-color: #ec008c;     top: 4px; left: 4px;     width: 18.9px; height: 18.9px;}
 .radio {       margin: 1px 26px 0 0; }
/* End radio */

.Buttons.QuestionnaireButtons{ padding-left:0;}
.ValidationGroup .error{    color: #ff0000;  font-style: normal; font-weight: normal;}
a.backToCalc{    font-size: 19px; line-height: 1.58; color: #ec008c;}
.TasmcQuestionnaireResults p span.bmiHelp{display:block;}
.TasmcQuestionnaireResults p .bmiMessageBinded a{    display: block; color: #ec008c; font-weight: normal; text-decoration: none; font-size: 19px; margin-top: 12px;}


/*checkbox*/
.checkbox {margin-top:0px;}
.checkbox input + a:after { content: '\f00c'; top: 1px; left: 1px; width: 15px; height: 15px; font: normal 12px/16px FontAwesome; text-align: center; }
.checkbox input + a:after { color: rgba(0,0,0,8); }
.checkbox input[checked='checked'] + a:after { opacity: 1; }
.checkbox input + a:after { color: #ec008c; }
.checkbox a{ border-width: 1px; border-style: solid; border-color: #000; background-color: #ffffff; }
 .ValidationGroup .Questionnaire div.checkboxRow{    margin-right: 0; padding-right:0;}
 .ValidationGroup label.CheckboxLabel {    padding-right: 13px;}
 /*End checkbox*/

 .ValidationGroup .liDescription select, .ValidationGroup .liDescription .allRowInput,.ValidationGroup .liDescription .HumanAge,#TasmcCalcElderlyNutritionForm #TasmcWeight ,#TasmcCalcElderlyNutritionForm #TasmcHeight, #TasmcMetabolicForm.ValidationGroup input.NumbersOnly{ height: 55.2px; background-color: #ffffff; border: solid 1px #525252; border-radius: 2px; font-size: 22px; padding: 5px; }
 .ValidationGroup .Questionnaire div.liDescription{    width: 90%;     margin-bottom: 33px;}
.liDescription var{    height: 0;}
#DangerCauseForm .Questionnaire li:last-of-type .liDescription{    margin-top: 8px;}
.ValidationGroup label.TopLabelDescription {    padding-bottom: 15px;}
.TasmcQuestionnaireResults p span.dangerCauseMessage {display: block;  line-height: 14px; font-size: 16px; font-weight: normal;}

/*ElderlyNutritionForm*/
#TasmcCalcElderlyNutritionForm .liDescription .col-xs-12{    padding-right: 0; margin-right: 0;     padding-bottom: 5px;}
.TasmcCalcElderlyNutritionForm .TasmcQuestionnaireResults p span{font-weight:normal;}
/*end ElderlyNutritionForm*/

/*TasmcMetabolicForm*/
#TasmcMetabolicForm .liDescription .col-xs-12 {margin-right: 0;}
/*end TasmcMetabolicForm*/

/*DangerCauseForm*/
#DangerCauseForm .liDescription .col-xs-12 {margin-right: 0;}
/*end DangerCauseForm*/

/*DepressionFormForm*/
#DepressionForm.ValidationGroup .Questionnaire div.liDescription ,#BoneHealthForm.ValidationGroup .Questionnaire div.liDescription{   width: 86%;}
#DepressionForm .liDescription .col-xs-12 ,#BoneHealthForm .liDescription .col-xs-12{ padding-right: 0; margin-right: 0; }
.ValidationGroup .Questionnaire li.clearLi {clear: right;}
/*end DepressionFormForm*/

.BloodPressureInner > .col-xs-12:first-of-type {min-height: 117px;}
.ValidationGroup .Questionnaire  .BloodPressureInner > div.col-xs-12{ padding-right: 0;  margin-right: 0;  width: 100%;}

/*HealthQuestionnaireForm*/
.ValidationGroup .wrapperContainer {    margin-bottom: 33px;}
/*end HealthQuestionnaireForm*/


/*IE only*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ValidationGroup .Questionnaire code { line-height: 36px; }
}

/*FF only*/
@-moz-document url-prefix() {
    .ValidationGroup var{float:none;}
    
    .radio { margin: 1px 0px 0 0; }
}


@media (max-width: 1600px) and (min-width: 500px) {
    
    #DepressionForm.ValidationGroup .Questionnaire div.liDescription {
    width: 84%;
}
}
@media (max-width: 1200px) {
    .ValidationGroup .Questionnaire div { margin-right:7px; }
}
@media (max-width: 768px) {
   #BoneHealthForm .ValidationGroup .liDescriptionRadio .RadioLabel { margin-top: 4px; }
    .liDescription .wrapperContainer:last-of-type {margin-bottom: 0; }
    .ValidationGroup .Questionnaire div.wrapperContainer {padding-right: 0;}
    #DepressionForm.ValidationGroup .Questionnaire .TopLabel { font-size: 21px; }
    #DepressionForm.ValidationGroup .RadioLabel { font-size: 20px; }
    #DepressionForm.ValidationGroup  .liDescriptionRadio .RadioLabel{    margin-right: 34px;  margin-top: -2px;}
      #DepressionForm.ValidationGroup .Questionnaire .liDescriptionRadio div{ width: 100%; }
    #DepressionForm .liDescription .col-xs-12{padding: 0;}
    #TasmcCalcElderlyNutritionForm .liDescriptionRadio .col-xs-12{    width: 100%;padding-left: 0;}
    .ValidationGroup  .liDescriptionRadio .RadioLabel{white-space: normal; width: 81%;     margin: 0px 5px 0 1px;}
    .ValidationGroup label {font-size: 17px;}
    .ValidationGroup label.CheckboxLabel {padding-right: 10px;}
    .CheckboxLabel {width: 90%;}
    .ValidationGroup .Questionnaire div.liDescription {width: 86%;}
    .ValidationGroup .Questionnaire div.checkboxRow{    width: 100%;padding-left: 0;}
    .ValidationGroup .Questionnaire li:last-of-type { min-height: 132px; }
    .ValidationGroup .Questionnaire div {     margin-right: 0; padding-right: 15px;  } /*width: 84%;*/
    .ValidationGroup .Questionnaire code { line-height: 24px; width: 28px; height: 0%; font-size: 21px; margin-top: 5px; }
    .ValidationGroup .Normal, .ValidationGroup .liDescription select,.ValidationGroup .liDescription .HumanAge ,#TasmcCalcElderlyNutritionForm #TasmcWeight ,#TasmcCalcElderlyNutritionForm #TasmcHeight {    height: 40px;}
 .ValidationGroup .liDescription .allRowInput{height: 40px !important;}
}
@media (max-width: 620px) and (min-width:500px) {
    .ValidationGroup .Questionnaire li:first-of-type{    padding-left: 0;}
    .ValidationGroup .RadioLabel { margin: 2px 2px 0 4px; font-size: 22px; }
    .radio a, .radio input[checked='checked'] + a { height: 25px; width: 25px; }
    .radio input + a:after { top: 3px; left: 3px; width: 16.9px; height: 16.9px; }
}
@media (max-width: 500px) {
    .Questionnaire  .col-xs-6 {width:100%;}
}
@media (max-width: 370px) {
   #HealthForm .Questionnaire  .TopLabel{
    font-size: 21px;
}
    .BloodPressureInner label[for].TopLabel {    font-size: 22px;}
    .BloodPressureInner > .col-xs-12:first-of-type { min-height: 150px; }
    #TasmcMetabolicForm.ValidationGroup .RadioLabel{    margin-left: 0;}
    .ValidationGroup  .liDescriptionRadio .RadioLabel{font-size: 19px; }
     #TasmcCalcElderlyNutritionForm .liDescriptionRadio .radio a,#DepressionForm .liDescriptionRadio .radio a{height: 23px; width: 23px;}
    .ValidationGroup  .liDescriptionRadio .radio input + a:after { top: 3px; left: 3px; width: 14.9px; height: 14.9px; }
    .ValidationGroup .RadioLabel{    white-space: normal;}/*width: 75%;*/
    .ValidationGroup .RadioLabel{margin: 0 6px 0 21px;}
    .ValidationGroup .Questionnaire .TopLabel[for=TasmcMale]{     margin-bottom: 10px;}
    .ValidationGroup .Questionnaire li {    min-height: 121px;}
    .ValidationGroup .Questionnaire {padding: 25px 0 0 0px;}
    .Questionnaire li:first-of-type{    min-height: 115px;}
    [for="TasmcFemale"].RadioLabel {float: left; margin-right: 6px; }
}

@media (max-width: 360px) {
    /*.ValidationGroup .Questionnaire div { margin: 0; }*/
    .ValidationGroup .Normal { width: 100%; }
}

@media (max-width: 350px) {
  /*.ms-webpart-zone,  .ms-webpart-cell-vertical { display: flex; }*/
  .ValidationGroup .RadioLabel { margin: 0px 5px 0 1px; font-size: 22px; }
  .radio input + a:after { top: 4px; left: 4px; width: 15.9px; height: 15.9px; }
  .radio a, .radio input[checked='checked'] + a { height: 26px; width: 26px; }
  .ValidationGroup .liDescriptionRadio .RadioLabel {width: 80%;}
}
@media (min-width:768px) {
    .TopLabel[for=TasmcMale]{margin-bottom: 10px;}
}
@media (min-width:1200px) {
    .ValidationGroup .Questionnaire div:not(.wrapperContainer) { margin-right: 20px; }
}
    