@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/opensanshebrew-regular-webfont.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("fonts/opensanshebrew-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensanshebrew-regular-webfont.woff") format("woff"), url("fonts/opensanshebrew-regular-webfont.ttf") format("truetype"), url("fonts/opensanshebrew-regular-webfont.svg#OpenSans") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 600;
    src: url("fonts/opensanshebrew-bold-webfont.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("fonts/opensanshebrew-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensanshebrew-bold-webfont.woff") format("woff"), url("fonts/opensanshebrew-bold-webfont.ttf") format("truetype"), url("fonts/opensanshebrew-bold-webfont.svg#OpenSans") format("svg");
    /* Legacy iOS */
}

.sc-container {
    top: 0;
    bottom: 0;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .sc-container:not(.sc-collapsed) {
        /* height: 100vh; */
        top: 0;
    }
}

@media screen and (max-width: 768px) {
    .sc-collapsed.sc-container {
        /* height: 100vh; */
        top: 0;
    }
}

.sc-container {
    font-family: "Open Sans Hebrew", sans-serif;
    font-size: 15px;
    color: #34495E;
    line-height: 1.2;
    width: 22.5%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
}

    .sc-container:not(.sc-collapsed) {
        min-width: 320px;
    }

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .sc-container {
        width: 50%;
        max-width: none;
    }
}

@media screen and (max-width: 768px) {
    .sc-container {
        width: 100%;
        max-width: none;
    }
}

.sc-container *,
.sc-container ::after,
.sc-container ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sc-container h1,
.sc-container h2,
.sc-container h3,
.sc-container h4,
.sc-container h5,
.sc-container h6,
.sc-container p {
    margin: 0;
    padding: 0;
}

.sc-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sc-container a {
    color: inherit;
    font-style: italic;
    word-break: break-all;
}

.sc-container .hidden {
    width: 0;
    height: 0;
    font-size: 0;
}

.sc-container .not-displayed {
    display: none;
}

.sc-toggle-btn {
    font-size: 0;
    width: 75px;
    height: 165px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 60%;
    z-index: 100;
}

    .sc-toggle-btn.sc-collapse {
        background-image: url("images/open_icon.png");
    }

        .sc-toggle-btn.sc-collapse.active {
            background-image: url("images/open_icon_active.png");
        }

    .sc-toggle-btn:not(.sc-collapse) {
        background-image: url("images/close_icon.png");
    }

.sc-main {
    /* height: calc(100% - 20vh - 8vh); */
    height: 72%;
    overflow-y: visible;
}

.sc-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 8%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}

.sc-chat-item {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

.sc-chat-item-footnotes {
    padding-top: 15px;
}

@media screen and (max-width: 768px) {
    .sc-toggle-btn {
        width: 37px;
        height: 89px;
        bottom: 50%;
    }

        .sc-toggle-btn.sc-collapse {
            background-image: url("images/close_icon.png");
        }

        .sc-toggle-btn:not(.sc-collapse) {
            background-image: url("images/close_icon_mobile.png");
        }

    .sc-main {
        /* height: calc(100% - 8vh - 10vh); */
        height: 82%;
    }

    .sc-footer {
        height: 10%;
        min-height: 55px;
    }
}

#scTooltipList .sc-chat-item .sc-chat-item-text > div {
    display: none
}
