/*** RTL websites ***/
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/opensanshebrew-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("fonts/opensanshebrew-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensanshebrew-regular-webfont.woff") format("woff"), url("fonts/opensanshebrew-regular-webfont.ttf") format("truetype"), url("fonts/opensanshebrew-regular-webfont.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/opensanshebrew-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("fonts/opensanshebrew-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensanshebrew-bold-webfont.woff") format("woff"), url("fonts/opensanshebrew-bold-webfont.ttf") format("truetype"), url("fonts/opensanshebrew-bold-webfont.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'Almoni-Light';
  font-style: light;
  font-weight: 100;
  src: url("fonts/almoni-neue-aaa-light.otf");
}
@font-face {
  font-family: 'Almoni-Black';
  font-style: black;
  font-weight: 900;
  src: url("fonts/almoni-neue-aaa-black.otf");
}

@font-face {
  font-family: 'Almoni-Regular';
  font-style: regular;
  font-weight: 500;
  src: url("fonts/almoni-neue-aaa-regular.otf");
}

@font-face {
  font-family: 'Almoni-Bold';
  font-style: bold;
  font-weight: 700;
  src: url("fonts/almoni-neue-aaa-bold.otf");
}

.sc-container {
  top: 0;
  left: 0;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  font-family: Almoni-Regular, "Open Sans Hebrew", sans-serif;
  z-index: 9999;
}

  @media screen and (max-width: 768px) {
  .sc-container:not(.sc-collapsed) {
      height: 100%;
    top: 0;
  }
}

.sc-collapsed.sc-container {
  left: -22.5%;
}


    @media screen and (min-width: 768px) and (max-width: 1280px) {
  .sc-collapsed.sc-container {
    left: -50%;
  }
}

    @media screen and (max-width: 768px) {
  .sc-collapsed.sc-container {
        height: 100%;
        top: 0;
    left: -100%;
  }
}

.sc-container {
  direction: rtl;
  font-family: Almoni-Regular, "Open Sans Hebrew", sans-serif;
  font-size: 15px;
  color: #34495E;
  line-height: 1.2;
  width: 22.5%;
  max-width: 440px;
  height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ededed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
}

.sc-container:not(.sc-collapsed) {
  min-width: 320px;
}

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .sc-container {
      width: 50%;
    max-width: none;
  }
}

  @media screen and (max-width: 768px) {
    .sc-container {
      width: 100%;
    max-width: none;
  }
}

  .sc-container *,
  .sc-container ::after,
  .sc-container ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

  .sc-container h1,
  .sc-container h2,
  .sc-container h3,
  .sc-container h4,
  .sc-container h5,
  .sc-container h6,
  .sc-container p {
    margin: 0;
  padding: 0;
}

  .sc-container ul {
    list-style: none;
    margin: 0;
  padding: 0;
}

  .sc-container a {
    color: inherit;
  font-style: italic;
  word-break: break-all;
}

  .sc-container .hidden {
    width: 0;
    height: 0;
  font-size: 0;
}

  .sc-container .not-displayed {
  display: none;
}

.sc-toggle-btn {
  font-size: 0;
  width: 78px;
  height: 165px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 60%;
  right: -75px;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  z-index: 100;
  font-family: Almoni-Regular, "Open Sans Hebrew", sans-serif;
}

.sc-toggle-btn.sc-collapse {
  background-image: url("slide.png");
  background-color: transparent !important
}

.sc-toggle-btn.sc-collapse.active {
  background-image: url("slide.png");
    background-color: transparent !important

}

.sc-toggle-btn:not(.sc-collapse) {
  background-image: url("slide.png");
    background-color: transparent !important

}

  @media screen and (max-width: 768px) {
    .sc-toggle-btn {
      width: 37px;
      height: 89px;
    bottom: 50%;
  }
  .sc-toggle-btn.sc-collapse {
        background-image: url("slide.png");
    right: -37px;
  }
  .sc-toggle-btn:not(.sc-collapse) {
        background-image: url("close.png");
    right: 0;
  }
}

.sc-tooltip {
  width: 160px;
  max-height: 170px;
  padding: 10px;
  padding-left: 0;
  background-color: #34495E;
  border: 2px solid #34495E;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  bottom: calc(60% + (165px / 3 * 2));
  right: calc(-160px - (75px / 3 * 2.5));
  z-index: 200;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

  @media screen and (max-width: 768px) {
    .sc-tooltip {
      bottom: calc(50% + (89px / 3 * 2));
      right: auto;
    left: calc(100% + 37px);
  }
}

  .sc-tooltip:after {
    content: '';
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #34495E;
    border-left: 0;
    border-bottom: 0;
    position: absolute;
    left: -12px;
    right: auto;
  bottom: -2px;
}

  .sc-tooltip .sc-tooltip-container {
    height: 100%;
    line-height: 1;
  overflow-x: hidden;
}

  .sc-tooltip .host.sc-chat-item,
  .sc-tooltip .guest.sc-chat-item {
    font-size: 12px;
    margin: 0 0 15px 0;
  margin-left: 10px;
}

    .sc-tooltip .host.sc-chat-item a,
    .sc-tooltip .guest.sc-chat-item a {
  pointer-events: none;
  word-break: break-all;
}

  .sc-tooltip .host .sc-chat-item-icon,
  .sc-tooltip .guest .sc-chat-item-icon {
    width: 0;
    height: 0;
    background-image: none;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

  .sc-tooltip .host:not(.bot) .sc-chat-item-text,
  .sc-tooltip .bot .sc-chat-item-text,
  .sc-tooltip .guest .sc-chat-item-text {
    color: #ffffff;
    min-height: auto;
    padding: 0;
  background-color: #00529c;
}

    .sc-tooltip .host:not(.bot) .sc-chat-item-text:after,
    .sc-tooltip .bot .sc-chat-item-text:after,
    .sc-tooltip .guest .sc-chat-item-text:after {
  content: none;
}

  .sc-tooltip .host .sc-chat-item-time,
  .sc-tooltip .guest .sc-chat-item-time {
    color: #ffffff;
    position: static;
  float: left;
}

.sc-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  border-top: 0 solid #00529c;
  border-right: 5px solid #00529c;
}

.sc-wrapper.sc-collapsed {
  display: none;
}

  @media screen and (max-width: 768px) {
    .sc-wrapper {
    border-top: none;
  }
      .sc-wrapper.no-border {
    border: none;
  }
}

.sc-header {
  height: 20vh;
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20vh;
  flex: 0 0 20vh;
  z-index: 1;
  background: linear-gradient(180deg, rgba(254,254,254,1) 35%, rgba(238,245,254,1) 100%);
}

  @media screen and (max-width: 768px) {
    .sc-header {
      height: 8vh;
    padding: 5px;
  }
}

  .sc-header-logo {
    font-size: 0;
    height: 100%;
    background-image: url("Header_2.png");
    background-repeat: no-repeat;
    background-position: center;
  background-size: contain;
}

    @media screen and (max-width: 768px) {
      .sc-header-logo {
    background-image: url("Header_2.png");
  }
}

.sc-main {
  height: calc(100% - 20vh - 8vh);
  overflow-y: auto;
}

  @media screen and (max-width: 768px) {
    .sc-main {
    height: calc(100% - 8vh - 10vh);
  }
}

.sc-messages-content {
  height: 100%;
}

.sc-welcome {
  text-align: center;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px;
	background-color: #4f7da3;
	border-radius: 5px;
	color: white;
}

  .sc-welcome-title {
    font-size: 1.1em;
  font-weight: bold;
}

  .sc .sc-welcome-subtitle {
  margin-top: 15px;
}

.sc-chat {
  margin: 0 20px;
}

  .sc-chat-item {
  display: -webkit-box;
  display: -ms-flexbox;
    display: flex;
    margin: 30px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
    align-items: flex-end;
  position: relative;
}

    .sc-chat-item.host {
  color: #ffffff;
}

    .sc-chat-item.bot {
  color: #fafafa;
}

    .sc-chat-item.guest {
      color: #34495E;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

    .sc-chat-item-icon {
      font-size: 0;
      width: 62px;
      height: 55px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62px;
      flex: 0 0 62px;
  background-repeat: no-repeat;
}

      .host .sc-chat-item-icon {
        background-image: url("Support.png");
  background-position: right center;
  background-size: 50px;
}

      .guest .sc-chat-item-icon {
        background-image: url("user_TASMC.png");
  background-position: left center;
}

      .bot .sc-chat-item-icon {
  background-image: url("TASMC_logo.png");
      background-size: 50px;
}

    .sc-chat-item-text {
      display: block;
      min-height: 55px;
      padding: 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
      flex: 1 1;
  position: relative;
  font-family: Almoni-Regular, "Open Sans Hebrew", sans-serif;
}

      .sc-chat-item-text:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
  bottom: 0;
}

      .host:not(.bot) .sc-chat-item-text {
        border-bottom-left-radius: 5px;
  background-color: #00529b;
}

        .host:not(.bot) .sc-chat-item-text:after {
          border: 20px solid transparent;
          border-left-color: #00529b;
          border-right: 0;
          border-bottom: 0;
          right: -12px;
  left: auto;
}

      .guest .sc-chat-item-text {
        border-bottom-right-radius: 5px;
		font-family: Almoni-Regular, "Open Sans Hebrew", sans-serif;
  background-color: #6d6e72;
  color: white
}

        .guest .sc-chat-item-text:after {
          border: 30px solid transparent;
          border-right-color: #6d6e72;
          border-left: 0;
          border-bottom: 0;
          right: auto;
  left: -12px;
}

      .bot .sc-chat-item-text {
        border-bottom-left-radius: 5px;
  background-color: #00529b;
  font-family: Almoni-Regular, "Open Sans Hebrew", sans-serif;
}

        .bot .sc-chat-item-text:after {
          border: 20px solid transparent;
          border-left-color: #00529b;
          border-right: 0;
          border-bottom: 0;
          right: -12px;
  left: auto;
}

      .sc-tooltip .sc-chat-item-text {
  width: 90%;
  font-family: Almoni-Regular, "Open Sans Hebrew", sans-serif;
}

    .sc-chat-item-time {
      font-size: 0.7em;
      position: absolute;
      bottom: -15px;
  color: #34495E;
}

      .host .sc-chat-item-time {
  left: 79%;
}

      .guest .sc-chat-item-time {
  right: 79%;
}

    .sc-chat-item-btn {
      display: block;
      font-size: inherit;
      color: #002d54;
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      background-color: white;
      border: none;
  border-radius: 5px;
  font-family: Almoni-Bold, "Open Sans Hebrew", sans-serif;
      font-weight: 600;
}

      .sc-chat-item-btn:hover:not(.active):not([disabled]) {
        color: #ffffff;
        background-color: #6789ab;
  cursor: pointer;
}

      .sc-chat-item-btn.active {
        color: #34495E;
  background-color: #ffffff;
}

      .sc-chat-item-btn[disabled]:not(.active) {
  opacity: 0.9;
}

    .sc-chat-item-typing {
      font-size: 0;
      width: 77px;
      height: 38px;
  background-image: url("images/typing.gif");
}

    .sc-chat-item-load {
      width: 100%;
      height: 30px;
      line-height: 30px;
      padding-right: 45px;
      background-color: transparent;
  background-repeat: no-repeat;
}

      .sc-chat-item-load.process {
  background-image: url("images/uploading_1x.gif");
}

      .sc-chat-item-load.success {
  background-image: url("images/complete_x1.gif");
}

      .sc-chat-item-load.failure {
  background-image: url("images/failure_1x.gif");
}

.sc-carousel {
  width: calc(100% - (55px + 7px));
  padding-bottom: 10px;
}

  .sc-carousel-list {
  display: -webkit-box;
  display: -ms-flexbox;
    display: flex;
    width: 100%;
  height: 200px;
}

    .sc-tooltip .sc-carousel-list {
  display: none;
}

  .sc-carousel-btn {
    min-width: 110px;
    margin: 5px;
    margin-bottom: 15px;
    background-color: #ffffff;
  border: 1px solid #4f6f8f;
}

    .sc-carousel-btn:first-child {
  margin-right: 0;
}

    .sc-carousel-btn:last-child {
  margin-left: 0;
}

  .sc-carousel-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: right;
    padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

  .sc-carousel-image {
    width: 100%;
  padding-bottom: 5px;
}

  .sc-carousel-title {
    font-size: 12px;
  color: #34495E;
}

  .sc-carousel-subtitle {
    font-size: 10px;
    color: #34495E;
  padding: 5px 0;
}

  .sc-carousel-link {
    display: block;
    font-size: 10px;
    font-style: normal;
  color: #34495E;
}

.sc-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #00529c;
  -webkit-box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}

  @media screen and (max-width: 768px) {
    .sc-footer {
    height: 10vh;
  }
}

.sc-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 5px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

  .sc-controls-btn-load-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
}

  .sc-controls-btn-load-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
  z-index: -1;
}

  .sc-controls-btn-load-input:focus + .sc-controls-btn-load-label {
    outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

  .sc-controls-btn-load-label {
    display: block;
    font-size: 0;
    width: 55px;
    height: 100%;
    background-image: url("attachment-icon.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
  cursor: pointer;
}

    .sc-controls-btn-load-label:hover {
  background-image: url("attachment-icon.png");
}

  .sc-controls-message-label {
    font-size: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

  .sc-controls-message-input {
    font-family: Almoni-Regular, "Open Sans Hebrew", sans-serif;
    font-size: 15px;
    color: white;
    width: 100%;
    height: 100%;
    padding: 14px;
    border: none;
  border-radius: 5px;
  resize: none;
  background-color: transparent
}
  .sc-controls-message-input::-webkit-input-placeholder { /* Edge */
  color: white;
}

  .sc-controls-message-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

  .sc-controls-message-input::placeholder {
  color: white;
}

  .sc-controls-btn-send {
    font-size: 0;
    width: 65px;
    height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
    flex: 0 0 65px;
    background-color: transparent;
    background-image: url("send-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  cursor: pointer;
}

    .sc-controls-btn-send:hover {
      background-image: url("send-icon.png");
  background-color: rgba(0, 0, 0, 0);
}

.sc-container .ss-scroll {
  background-color: #a9a9a9;
  border-radius: 5px;
}

.sc-container .sc-tooltip-container .ss-scroll {
  background-color: #a9a9a9;
  border-radius: 5px;
  opacity: 1;
}

.sc-container .sc-tooltip-container .ss-content {
  padding-left: 20px;
  margin-left: -20px;
}

.sc-container .sc-tooltip-container.scrollable .ss-content {
  padding-left: 12px;
}

.sc-container .simplebar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sc-container .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  height: 5px;
}

  .sc-container .simplebar-track.simplebar-horizontal .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.sc-container .simplebar-scrollbar:before {
  background: #a9a9a9;
  border-radius: 5px;
  opacity: 1 !important;
}
/*# sourceMappingURL=styles.css.map */